{
  "useTabs": false,
  "singleQuote": false,
  "trailingComma": "none",
  "printWidth": 100,
  "plugins": ["prettier-plugin-svelte", "@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "^svelte",
    "^@sveltejs",
    "^\\$app",
    "^\\$env",

    "",

    "^@[^/]+/",

    "",

    "<THIRD_PARTY_MODULES>",

    "",

    "^\\$lib/client/features",
    "^\\$lib/client/components",
    "^\\$lib/client/stores",
    "^\\$lib/client/contexts",
    "^\\$lib/client/actions",
    "^\\$lib/client/utils",
    "^\\$lib/client/assets",
    "^\\$lib/client",

    "",

    "^\\$lib/server/api",
    "^\\$lib/server/services",
    "^\\$lib/server/auth",
    "^\\$lib/server/db",
    "^\\$lib/server/email",
    "^\\$lib/server",

    "",

    "^\\$lib/shared/schemas",
    "^\\$lib/shared/utils",
    "^\\$lib/shared",
    "^\\$lib/types",
    "^\\$lib/types/client",
    "^\\$lib/types/server",
    "^\\$lib",

    "",

    "^\\.\\./\\.\\./\\.\\./",
    "^\\.\\./\\.\\./",
    "^\\.\\./",
    "^\\./",

    "",

    "^\\."
  ],
  "importOrderParserPlugins": ["typescript", "svelte", "decorators-legacy"],
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ]
}
